.colourElement {
    position: absolute;
}


.colourElementOrigin {
    position: absolute;
    user-select: none;
    border: 1px solid transparent
}

.positionBigHandler {
    cursor: move;
}

.colourElementOrigin:hover {
    border: 1px dashed black;
    /*z-index: 1000;*/
}
.colourElementOrigin:hover > div {
    /*z-index: 1000;*/
}

.colourElementOrigin .colourElementControls {
    visibility: hidden;


    cursor: default;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.colourElementOrigin:hover .colourElementControls {
    visibility: visible;
}

.colourElementOrigin .colourElementControls .sizeHandler {
    position: absolute;
    right: 0;
    bottom: 0;
}

.colourElementControlHandler:hover, .colourElementControlHandler.divDragHandlerIsActive {
    color: navajowhite;
}

.colourElementControlHandler {
    white-space: nowrap;
}

.colourElementControlHandlerPosition {
    cursor: pointer;
    white-space: nowrap;
}
